.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100vh toda la altura de la pantalla*/
}

/* Darle un ancho fijo */
mat-card {
  width: 400px;
  padding: 20px;
  margin-top: 10px;
}

mat-card-header{
    margin-bottom: 10px;
}

mat-form-field{
    width: 100%;
}

mat-card-title{
   font-family: "Lexend", sans-serif;
   margin-bottom: 20 px;   
}

input[matInput] {
  padding: 5px;
}

.register-card {
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 0 4px 20px rgba(0,0,0,.3) !important;
  border-top: 6px solid #559CF8;
}


.form-container{
display: flex;
flex-direction: column;
gap: 16px;
}

.register-button {
  justify-content: center;
  width: 100%;
  background-color: #559CF8 !important;
  color: white !important;
}


