.barra{
    background-color: #559CF8;
    height: fit-content;
    justify-content: space-evenly;
    flex-direction: row;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .25)!important;
    border-radius: 0 0 12px;
}
.boton{
    display: flex;
    align-items: center;
    color: white;
    width: 60px;
    height: 60px;
    cursor: pointer;
    gap: 30px;
    background-color: transparent;
    border: none;
}


.denuncias{
    display: flex;
    max-width: 800px;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0,0,0,.3) !important;
    border-top: 12px solid #559CF8;
    font-family: "Lexend", sans-serif;
    justify-content: center;
    padding: 20px;
}



.buton{
  display: flex;
  justify-content: center;
  background-color: #559CF8 !important;
  color: white !important;
  gap: 20px;
  width: 20pxs;
  box-shadow: 0 4px 20px rgba(0,0,0,.3) !important;
  border: none;
  cursor: pointer;

}

.Title{
    display: flex;
    margin: 30px auto;
    font-family: "Lexend", sans-serif;
    font-size: 32px;
    text-align: center;
    justify-content: center;

}

.popup{
  width: 500px;
  padding: 20px;
  font-family: "Lexend", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}
