<!--barra de arriba-->
<mat-card class="barra">
<button title = "Inicio" class="boton" routerLink="/adminpanel" >
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
 <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
 <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
</svg>
</button>

<button title = "Ver Denuncias" class="boton" routerLink="/denuncias" routerLink="/administrardenuncias">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z" clip-rule="evenodd" />
</svg> 
</button>

<button title = "Registrar Mediador" class="boton" routerLink="/registermediator">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path fill-rule="evenodd" d="M6.912 3a3 3 0 0 0-2.868 2.118l-2.411 7.838a3 3 0 0 0-.133.882V18a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0 0 17.088 3H6.912Zm13.823 9.75-2.213-7.191A1.5 1.5 0 0 0 17.088 4.5H6.912a1.5 1.5 0 0 0-1.434 1.059L3.265 12.75H6.11a3 3 0 0 1 2.684 1.658l.256.513a1.5 1.5 0 0 0 1.342.829h3.218a1.5 1.5 0 0 0 1.342-.83l.256-.512a3 3 0 0 1 2.684-1.658h2.844Z" clip-rule="evenodd" />
</svg>
</button>

<button title = "Logout" class="boton" routerLink= "/login">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path fill-rule="evenodd" d="M3.74 3.749a.75.75 0 0 1 .75.75V15h13.938l-2.47-2.47a.75.75 0 0 1 1.061-1.06l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 0 1-1.06-1.06l2.47-2.47H3.738a.75.75 0 0 1-.75-.75V4.5a.75.75 0 0 1 .75-.751Z" clip-rule="evenodd" />
</svg>
</button>

</mat-card>

<!-- CONTENIDO -->

<mat-card class="formulario">

 <mat-card class="mediator-card">

  <mat-card-header>
    <mat-card-title>Registrar Mediador</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form class="form" (ngSubmit)="registerMediator()">

      <mat-form-field appearance="outline">
        <mat-label>Nombre Completo</mat-label>
        <input 
          matInput
          [(ngModel)]="fullName"
          name="fullName"
          required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input
          matInput
          type="email"
          [(ngModel)]="email"
          name="email"
          required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Zona</mat-label>
        <input
          matInput
          [(ngModel)]="zone"
          name="zone"
          required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Especialidad</mat-label>
        <input
          matInput
          [(ngModel)]="specialty"
          name="specialty"
          required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Disponibilidad</mat-label>
        <input
          matInput
          [(ngModel)]="availability"
          name="availability"
          placeholder="Lunes a Viernes 8AM - 5PM"
          required>
      </mat-form-field>

      <button class="button" mat-raised-button (click)="registerMediator()" [disabled]="isLoading">
        {{ isLoading ? 'Registrando...' : 'Registrar Mediador' }}
      </button>

      <p *ngIf="successMessage" class="success">
        {{ successMessage }}
      </p>

      <p *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </p>

    </form>

  </mat-card-content>

</mat-card>